.create-article-page {
    display: flex;
    justify-content: center;

    .container {
        width: 50vw;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 10px;
    }

    input {
        padding: 15px;
        border: none;
    }

    textarea {
        padding: 15px;
        border: none;
    }

    textarea:focus {
        outline: none;
        border-color: #3498db;
    }

    h1 {
        margin-bottom: 20px;
    }

    h1,
    h5,
    .button {
        text-align: center;
        text-decoration: none;
        font-weight: 700;
    }

    .forget {
        float: right;
    }

    .check {
        margin-top: 1px;
        float: left;
        margin-right: 10px;
    }

    p,
    a {
        font-size: 12px;
        text-decoration: none;
    }

    .button {
        padding: 0.5rem 0.8rem;
        border-radius: 7.27px;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        font-weight: bold;
        border: 1.323px solid black;
        padding: 10px;
        background-color: black;
        color: white;
        margin-top: 20px;
        cursor: pointer;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}