.blog_ctn{
    // background-color: red;
    .title_ctn{
        padding-left: 2rem;
        // background-color: green;
        h1{
            // background-color: blue;
            padding: 3rem 1rem 1rem 2rem;
            font-size: 3rem;
        }
        hr{
            margin: 2rem 2em;
            width: 60%;
        }
        span{
            margin-left: 2rem;
            padding: 0.5rem 0.8rem;
            font-weight: bold;
            background-color: #b3afaf4d;
            border-radius: 10px;
            i{
                margin-right: 0.6rem;
            }
        }
    }

    h2{
        padding-left: 4rem;
    }
   
}