.home_ctn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home_blog{
    padding: 2rem;
    h1{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}
