.blog_card_info{
    background-color: #242424bd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    margin: 0.5rem;
    border: 1.323px solid #948E8E;
    border-radius: 5px;
    max-width: 350px;
    text-decoration: none;
    color: white;
    position: relative;

    &:hover{

    &.public{
        background-color: #343434bd;
        border-color: rgb(5, 254, 5);
    }

    &.private{
        background-color: #343434bd;
        border-color: rgb(254, 5, 5);
    }

        .status{
            opacity: 1;
        }
    }

    h3{
        font-size: 2rem;
    }

    p{
        font-size: 1.1rem;
        padding: 0.7rem 0rem;
    }

    .author{
        display: flex;
        justify-content: center;
        gap: 0.6rem;
        padding: 0.5rem 0.8rem;
        font-weight: bold;
        background-color: #b3afaf4d;
        border-radius: 10px;
    }
    .status{
        display: flex;
        justify-content: center;
        gap: 0.6rem;
        position: absolute;
        bottom: 8px;
        right: 8px;
        opacity: 0;
        &.public{
            padding: 0.8rem;
            border-radius: 50%;
            background-color: rgba(26, 185, 26, 0.089);
        }
        &.private{
            padding: 0.8rem;
            border-radius: 50%;
            background-color: rgba(185, 26, 26, 0.124);
        }
    }
}